@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@100&display=swap');

body{
    padding:0;
    margin:0;
    font-family: 'Azeret Mono', monospace;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
}

.logo a img{
    width:200px;
    height: 100px;
}

nav{
    display: flex;
    width: 100%;
    height: 98px;
    background-color: #ddb892;
    justify-content: space-around;
    align-items: center;
    
}

.logo a img{
    position:absolute;
    /* left:10px; */
    left:0px;
    top:0;
}

nav .menuContainer ul{
    list-style: none;
    
}

nav .menuContainer ul li{
    display: inline-block;
    margin-left:15px;
}

nav .menuContainer ul li a{
    /* text-decoration: none; */
    color: #7f5539;
}



.bodyContainer{
    position:absolute;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.puma1big{
    width:500px;
}

.bodyPart a{
    text-decoration: none;
    display: inline-block;
    background-color: #ddb892;
    color: #7f5539;
    border-radius: 20px;
    /* width: 200px;
     */
     /* height:60px; */
     /* text-align: center; */
     /* width:200px; */
     padding:10px 20px;
}

.bodyPart a:hover{
    background-color: #ede0d4;
}

.bodyPart h1{
    color:#7f5539;
    font-weight: 700;
}
.bodyPart p{
    color:#7f5539;
    font-weight: 500;
    /* text-indent: 20px; */
}

.choose{
    position:absolute;
    left:50%;
    transform:translateX(-50%);
    bottom:20px;
    

}

.choose a{
    margin:0 10px;
}

.choose a img:hover{
    width:120px;
}